* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 340px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  margin: 0 0 20px;
  border-bottom: 2px solid #ccc;
}

.header-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__input {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  outline: none;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  transition: all 0.2s ease;
}

.header__input:focus {
  border-color: #000;
}

.header__input::placeholder {
  font-size: 14px;
  font-weight: 400;
}

.header__add-btn {
  background-color: #000;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid #000;
  transition: all 0.2s ease;
}

.header__add-btn:hover {
  background-color: #fff;
  color: #000;
}

.footer {
  margin: auto 0 0 0;
  padding: 40px 0;
  background-color: #fff;
  text-align: center;
}

.section-todos-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 10px;
}

.todo-item {
  max-width: 300px;
  width: 100%;
  cursor: pointer;
  background-color: #ccc;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.todo-item__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-item__btn-del {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: crimson;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #07972b;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: sub;
}

.custom-checkbox::before {
  content: "";
  /* Глочка */
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/icons8-галочка.svg");
  background-size: contain;
  background-repeat: no-repeat;

  /* Вырвниваание */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease;
}

/* Активация checkbox */
.todo-item.active .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.todo-item.active p {
  text-decoration: line-through;
}
